<h1>All Conferences</h1>
<!-- This is going to generate all the buttons for each fair, we click on one, its going to set the fair selected  
to the users choice , then load that fair -->
<% @conferences.each do |conference| %>
  <div>
 <%= link_to conference.name, action: :set_session, con_id: conference.id %>
  </dvi>
<br>

<% end %>

