<h1>All Fairs</h1>
<!-- This is going to generate all the buttons for each fair, we click on one, its going to set the fair selected  
to the users choice , then load that fair -->
<% @conferences.each do |conference| %>
  <div>
 	<span class="btn btn-info btn-lg">
 		<%= link_to conference.name, action: :set_session, con_id: conference.id %>
  	</span>
  </div>
<br>

<% end %>

