<div class="about-us">
  <h1>About Us</h1>
  <p>Career Center Companion was developed by students at the University of South Carolina</p>
  <h2>We are</h2>
  <ul>
    <li><a href="https://github.com/ballardaf">Andrew Ballard</a></li>
    <li><a href="https://github.com/andrewkazura">Andrew Kazura</a></li>
    <li><a href="https://github.com/jayposton">James Poston</a></li>
    <li><a href="https://github.com/finleye">Corey Finley</a></li>
  </ul>
</div>
