<div class="landing">
  <div class="header">
    <h1>
      Career Center Companion
    </h1>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/E44FhfeLEUU" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="detail">
    <h2>An easy to use job fair companion</h2>
    <p>The Career Center Companion is an easy to use application that simplifies the experience of going to a job fair. Rather than carrying around a packet of information flipping back and forth for information, use this app on your phone and find employer information at your fingertips.</p>
    <h3>Key features</h3>
    <p>See employer descriptions, and link to their site or where to find more infomation</p>
    <p>Favorite employers, to make sure you visit your top picks</p>
    <p>Quickly see the majors and work locaitons for each employer</p>
    <p>View the conference table map, and easily find employer locations within the fair</p>
    <p>Get important notifications from conference organizers about changes or external meetings</p>
  </div>
  <div>
    <h7><font size= "15">About Us</font></h7>
    <p>Corey Finely</p>
    <p>Andrew Ballard</p>
    <p>Andrew Kazura</p>
    <p>James Poston</p>
  </div>
</div>
