// Place all the styles related to the Employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.landing{
  text-align: center;

  .header{
    margin: 40px 0 40px 0;
  }

  .video{
    margin: 40px 0 40px 0;
  }

  .detail{
    max-width: 800px;
    margin: 40px 0 40px 0;
    margin-left: auto;
    margin-right: auto;
  }
}

